/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'highlight.js/styles/github-dark.css';

/* For making left section scroll bar very thin */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b; /* Zinc-600 */
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #27272a; /* Zinc-800 */
}

/* Code block enhencements */
pre code {
  font-size: small ; /* 12px */
  display: block;
  overflow-x : auto;
  color: #c7c7c7 !important;
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  font-weight: normal;
}

/* Fix inner pading for consistency */
.markdown-body pre{
  margin-bottom: 1rem;
}
